{%extends 'base.html'%}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<br>

<head>
    <meta charset="UTF-8">
    <h2>活動績效</h2>
</head>

<body>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col" width = 100>#</th>
              <th scope="col">日期</th>
              <th scope="col">活動名稱</th>
              <th scope="col">目標客群</th>
              <th scope="col">獲取率</th>
              <th scope="col">取得成本</th>
            </tr>
          </thead>
          <tbody>
            {% for a in activity %}
            <tr>
            <td> </td>
            <td>{{ a.date }}</td>
            <td>{{ a.name }}</td>
            <td>{{ a.ta }}</td>
            <td>{{ a.ar }}</td>
            <td>{{ a.ac }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        </div>
</body>
<br>
<br>
<head>
    <meta charset="UTF-8">
    <h2>顧客留存率</h2>
</head>
<body>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col" width = 100>#</th>
              <th scope="col" width = 190>季別</th>
              <th scope="col">留存率</th>
            </tr>
          </thead>
          <tbody>
            {% for r in remaining %}
            <tr>
            <td> </td>
            <td>{{ r.season }}</td>
            <td>{{ r.rr }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        </div>
</body>
</html>
{%endblock%}